* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background: #fafafa;
}

svg {
  margin: 0;
}

.node rect {
  stroke: #222222;
  fill: #fafafa;
}

.edgePath path {
  stroke: #222222;
  fill: #222222;
  stroke-width: 1.5px;
}
